.updateLesson {
	display:flex;
	flex-direction: column;
	background-color: #00565C;
	min-width: 380px;
	flex-grow: 2;
}


.formSection {
	background-color: #00565C;
}





h1, h3 {
    color: #00565C;
}