.App {
  text-align: center;
}

main{
  font-family: 'Vollkorn', serif;
  /*display: flex;*/
  /*color:#ddd7cf;*/
}

a:link {
  font-family: 'Vollkorn', serif;
  text-decoration: none;
}

body {
    display: flex;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    background-color: #606060;
    text-align: center;
    line-height: 1.5;

}

nav {
  padding: 1% 1% 6% 1%;
  background-color: #EBEBE5;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: #606060 solid 2px;
  max-height: 100px;

}

header {
  margin-top: 100px;
  padding: 12% 0 0 0;
}

.mainSection {
  background-color: #00565C;
  display:flex;
  padding-top: 15%;
  width: 100%;
}

.sidebar {
  flex:1;
  padding: 5%;
}

.sidebar:empty {
  display: none;
}

.red{
    color: red;
    font-size: small;
}

h1, h2, h3 {
  font-family: 'Unica One', cursive;
    
}
h1 {
    color: #00565C;
}

h2, h3 {
   color: #ded8ce; 
}

.main{
  flex:2;
  padding: 5%;
}

.main:nth-child(even) {
  background-color: #EBEBE5;
  color: #00565C;
  display: flex;
  flex-direction: column;
}

.main:nth-child(even) button {
  background-color: #00565C;
  color: #EBEBE5;
}

.main:nth-child(even) h2 {
  color: #00565C;
}

.buttons {
    display: flex;
    flex-direction: row;
    background-color: #EBEBE5;
    border-radius: 4px;
    margin: 2px;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
}

.form-names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
}

.formSection {
    display: flex;
    justify-content: center;
}
.custom-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px #ddd7cf;
    width: 100px;
    border-radius: 8px 8px 8px 8px;
    margin: 3px;
    overflow: hidden;
    justify-content: center;
}

.custom-select select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: #EBEBE5;
    background-image: none;
    -webkit-appearance: none;
}

.text-area{
    background-color: #ddd7cf;
}
.text{
  color:#606060;
}

.custom-select select:focus {
    outline: none;
}

.customForm {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
